{% extends "base.html" %}

{% block title %}Portal CADE - Página Inicial{% endblock %}

{% block page_title %}Início{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center">Bem-vindo ao Portal CADE</h1>
        <p class="lead">Portal de serviços CADE.</p>
        
        <div class="card mt-4">
            <div class="card-body">
                <!-- Conteúdo específico da página inicial -->
                <p>Esta é a página inicial do Portal CADE.</p>
                <!-- Você pode adicionar uma imagem se desejar -->
                <!-- <img src="{{ url_for('static', filename='cade.jpg') }}" alt="Foto cade" class="img-fluid"> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
