{% extends "base.html" %}

{% block title %}Portal CADE{% endblock %}

{% block page_title %}Início{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center">Bem-vindo {{ nome }}ao Portal CADE</h1>
        <p class="lead">Portal de serviços CADE.</p>
        
        <div class="card mt-4">
            <div class="card-body">
                <div class="container mt-5">
                <div class="row justify-content-center">
                    
                    <!-- Card 1 -->
                    <div class="col-md-5 m-3">
                    <a href="{{ url_for('cria_usuario') }}">
                    <div class="card text-white bg-primary text-center shadow">
                        <div class="card-body">
                        <h5 class="card-title">Criar usuário no AD</h5>
                        <p class="card-text">Clique para ir para a página de criação de usuário no AD.</p>
                        </div>
                    </div>
                    </a>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-md-5 m-3">
                    <a href="{{ url_for('desativa_usuario') }}">
                    <div class="card text-white bg-primary text-center shadow">
                        <div class="card-body">
                        <h5 class="card-title">Desativar usuário no AD</h5>
                        <p class="card-text">Clique para ir para a página de desativação de usuário no AD.</p>
                        </div>
                    </div>
                    </a>
                    </div>
                     <!-- Card 3 -->
                    <div class="col-md-5 m-3">
                    <a href="https://intranet.cade.gov.br/">
                    <div class="card text-white bg-primary text-center shadow">
                        <div class="card-body">
                        <h5 class="card-title">Intranet CADE</h5>
                        <p class="card-text">Clique para ir para a Intranet do CADE</p>
                        </div>
                    </div>
                    </a>
                    </div>
                     <!-- Card 4 -->
                    <div class="col-md-5 m-3">
                    <a href="https://www.gov.br/cade/pt-br/pagina-inicial">
                    <div class="card text-white bg-primary text-center shadow">
                        <div class="card-body">
                        <h5 class="card-title">Sobre o CADE</h5>
                        <p class="card-text">Clique para mais informações sobre o CADE</p>
                        </div>
                    </div>
                    </a>
                    </div>


                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
