{% extends "base.html" %}

{% block title %}Portal CADE - Manutenção{% endblock %}

{% block page_title %}Manutenção{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center">Página em desenvolvimento...</h1>
    
        <div class="card mt-4">
            <div class="card-body">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
